  body{
    background-color: #F6F6F6;
    margin: 0;
  }
  p{
    font-family: 'Raleway', sans-serif;
  }
  header{
    background-color: rgba(55, 55, 55, 1);
    left: 0px;
    right:0px;
    top: 0px;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 35px;
  }
  header a{
    text-transform: uppercase;
    font-weight:normal;
  }
  .bodyElements{
    width: 100%;
    left: 0px;
    right: 0px;
    color: black;
  }
  .bodySection{
  }
  .bodyElements img{

      border-style: none;
      box-sizing: border-box;
      display: block;
      width: 100%;

  }
  hr{
    padding-top: 0px;
    margin-top: 0px;
    border-width: 1px;
    border-color: black;
    border-style:double;
  }
  .anchor {
    padding-top: 60px;
    margin-top: -60px
}

  .gridHeader{
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-gap: 0px;
      height: 40px;
      overflow: hidden;
  }
  .Background{
        margin-top: 60px;
  }
  .gridBody{
      text-align: center;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(4, auto);
      grid-gap: 10px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);

  }
  .bodyGrid{
    grid-row: 2/ span 2;
    grid-column: 1 / span 10;
  }
  .col-6{
    grid-column: 1 / span 6;
    text-align: left;
  }
  .mobileDropdown{
    grid-column: 10;
    text-align: center;
  }
  .head1,.head2,.head3{
    display: none;
  }

  h1, h2, h3 ,h4, a{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
  }
  header a{
    text-decoration: none;
    color: darkGrey;
    font-size: 40px;
  }
  header a:hover{
    color: white;
  }
  .social{
    background-color: rgba(55, 55, 55, 0.5);
    position:sticky;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    vertical-align: top;
  }
  .social ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
	.social ul li {
		display: inline-block;
    padding-left: 10%;
    padding-right: 10%;

	}
  .social li a{
    display: block;
    color: darkGrey;
    text-align: center;
    text-decoration: none;
  }
  .gridtest{
    grid-column: 3 / span 6;
    grid-row: 1;
  }
  .gridtestright{
    margin-top: 30px;
    grid-column: 3 / span 6;
    grid-row: 2/ span 3;
  }

@media screen and (min-width: 1000px) {
  header{
    position: fixed;
    background-color: rgba(55, 55, 55, 0.8);
  }

  header a{
    text-decoration: none;
    color: darkGrey;
    font-size: 30px;
    text-shadow: 0px 1px 0px rgba(0,0,0,1);
  }
.headerColumn{
  display: grid;
}
.alignCenter{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.col-6{
  grid-column: 2 / span 2;
  text-align: center;
  font-size: 50px;
}
.head1{
  display:block;
  grid-column: 7;
}
.head2{
  display: block;
  grid-column: 8;
}
.head3{
  display: block;
  grid-column: 9;
}
.mobileDropdown{
  display: none;
}

.social{
  position: fixed;
  display: block;
  text-align: left;
  background-color: rgba(55, 55, 55, 0.8);
  transform:rotate(-3deg);
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  padding-left: 13px;
  top: 30%;
  right: -9px;
  height: 220px;
  width: 30px;
  line-height: 50px;
}

.socialList {
  transform:rotate(3deg);
}
.social a i{
  color: darkGrey;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 2px 0px black;
}
.social i:hover{
  color: white;
  text-decoration: none;

}

.social:hover {
  width: 50px;
  transform:rotate(-2deg);
  background-color: rgba(55, 55, 55, 0.8);
  font-size: 25px;
  line-height: 10px;
}
.social ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.social ul li {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.bodyElements img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}
.bodyGrid{
  grid-column: 1 / span 10;
}
.gridtest{
  grid-column: 5 / span 2;
  grid-row: 2;
}
.gridtest img{
  width: 50%;
  border-radius: 25px;
  border: 2px solid rgba(0,0,0,0.5);
}
.gridtestright{
  margin-top: 0px;
  grid-column: 4 / span 4;
  grid-row: 3;
}
.spacerTop{
  grid-row: 1;
  grid-column: 4 span 2;
  height: 60px;
}
.spacerBottom{
  grid-row: 4;
  grid-column: 4 span 2;
  height: 60px;
}

}
